<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/customers">User List</a>
</p>
<form th:action="@{/add}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Full name:</td>
            <td><input type="text" th:field="*{fullName}"/></td>
        </tr>
        <tr>
            <td>User name:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Start</td>
            <td>
            <td>
                <select th:field="*{status}">
                    <option value="true">Active</option>
                    <option value="false">InActive</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
