<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/update}" th:object="${user}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>FullName:</td>
            <td><input type="text" th:field="*{fullName}"/></td>
        </tr>
        <tr>
            <td>UserName:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Status:</td>
            <th>
                <select th:field="*{status}">
                    <option value="true">Active</option>
                    <option value="false">InActive</option>
                </select>
            </th>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>